@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


 Layout Utils


**********************************************************/

/****************************************

          Container

*****************************************/
%u-container {
  margin-left: auto;
  margin-right: auto;
}

.u-container--lg {
  @extend %u-container;
  max-width: var(--g-content-size--lg);
}
.u-container--md {
  @extend %u-container;
  max-width: var(--g-content-size--md);
}
.u-container--sm {
  @extend %u-container;
  max-width: var(--g-content-size--sm);
}
/****************************************

          Gutter

*****************************************/
.u-gutter--lg {
  padding-left: var(--g-page-inset--lg);
  padding-right: var(--g-page-inset--lg);
}
.u-gutter--sm {
  padding-left: var(--g-page-inset--sm);
  padding-right: var(--g-page-inset--sm);
}

/****************************************

          Only All breakpoint
          
          u-only--min-md
          u-only--max-sm

*****************************************/
@each $key in map.keys(variables.$breakpoints) {
  .u-only--min-#{$key} {
    display: none;
    @media (width >= #{map.get(variables.$breakpoints, $key)}) {
      display: block;
    }
  }
}
@each $key in map.keys(variables.$breakpoints) {
  .u-only--max-#{$key} {
    display: none;
    @media (width < #{map.get(variables.$breakpoints, $key)}) {
      display: block;
    }
  }
}
/****************************************

          Margin

*****************************************/
.u-mb--none {
  margin-bottom: 0;
}
.u-mt--none {
  margin-top: 0;
}

@for $var from 1 to 6 {
  .u-mb--#{$var}en {
    margin-bottom: #{$var * 0.5}em;
  }
  .u-mt--#{$var}en {
    margin-top: #{$var * 0.5}em;
  }
}
@for $var from 1 to 6 {
  .u-mb--#{$var}em {
    margin-bottom: #{$var}em;
  }
  .u-mt--#{$var}em {
    margin-top: #{$var}em;
  }
}
/****************************************

          Padding

*****************************************/
.u-pb--none {
  padding-bottom: 0;
}
.u-pt--none {
  padding-top: 0;
}

@for $var from 1 to 6 {
  .u-pb--#{$var}em {
    padding-bottom: #{$var}em;
  }
  .u-pt--#{$var}em {
    padding-top: #{$var}em;
  }
}
