@use 'sass:map';
@use 'variables';

/*********************************************************



         Common
         general




**********************************************************/

/****************************************

          variables

*****************************************/
:root {
  // Colors
  --g-color-text: #000;
  --g-color-background: #fff;
  --g-color-link: #0000ff;

  // Fonts
  --g-font-default: 'Hiragino Sans', sans-serif;
  --g-font-display: '游明朝体', 'Yu Mincho', YuMincho, serif;

  --g-font-size--root: 16px;

  --g-font-weight--medium: 400;
  --g-font-weight--bold: 600;

  // layout
  --g-content-size--lg: 1280px;
  --g-content-size--md: 960px;
  --g-content-size--sm: 720px;
  --g-page-inset--lg: 7vw;
  --g-page-inset--sm: 5vw;

  @media (width < #{map.get(variables.$breakpoints, md)}) {
    --g-font-size--root: 15px;
    --g-page-inset--lg: 5vw;
    --g-page-inset--sm: 12px;
  }
}
/****************************************

          General Setting

*****************************************/
html {
  font-size: var(--g-font-size--root);
}

body {
  font-size: 1em;
  line-height: 1.7;
  font-weight: var(--g-font-weight--medium);
  font-family: var(--g-font-default);
  color: var(--g-color-text);
  background-color: var(--g-color-background);
  -webkit-text-size-adjust: 100%;
  text-justify: inter-ideograph;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: 'palt';
  -webkit-font-feature-settings: 'palt';
  font-feature-settings: 'palt';
}
img {
  max-width: 100%;
  height: auto;
}
svg {
  max-width: 100%;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
th,
dt {
  font-weight: var(--g-font-weight--bold);
}

a,
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
a {
  text-decoration: inherit;
  color: inherit;
}

/****************************************

          WP Admin Bar

*****************************************/

:root {
  --g-adminbar-height: 0px;
  &:has(.admin-bar) {
    --g-adminbar-height: 32px;
    @media screen and (max-width: 782px) {
      --g-adminbar-height: 46px;
    }
    @media screen and (max-width: 600px) {
      --g-adminbar-height: 0px;
    }
  }
}
