@use 'sass:map';
@use '../foundation/variables';

/*********************************************************



 Top page



**********************************************************/
/****************************************

         XXX

*****************************************/
@media (width < #{map.get(variables.$breakpoints, sm)}) {
}
