@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


 Footer


**********************************************************/

.l-footer {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: var(--g-color-text);
  color: var(--g-color-background);
  @media (width < #{map.get(variables.$breakpoints, md)}) {
    padding: 40px 5%;
  }
}
