@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


 Footer


**********************************************************/

.l-footer {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: var(--color-text);
  color: var(--color-background);
  @media #{map.get(variables.$max, md)} {
    padding: 40px 5%;
  }
}
