@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


 Page


**********************************************************/
/****************************************

         Main

*****************************************/
.l-page-main {
  padding-top: 4em;
  padding-bottom: 4em;
}
/****************************************

         Header

*****************************************/
.l-page-header {
  padding-bottom: 4em;
}
.l-page-header__title {
  font-size: 2rem;
}
/****************************************

         Content

*****************************************/
.l-page-content {
  padding-bottom: 7em;
  @media (width < #{map.get(variables.$breakpoints, md)}) {
    padding-bottom: 5em;
  }
}
