@use 'sass:map';
@use '../foundation/variables';

/*********************************************************


Button


**********************************************************/

/****************************************

         primary

*****************************************/

.c-button {
  padding: 0.8em 1.4em;
  display: inline-block;
  border-radius: 1.7em;
  border-radius: 1.8em / 1.8em;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4;
  min-width: 250px;
  box-sizing: border-box;
  text-align: center;
  @media (width < #{map.get(variables.$breakpoints, md)}) {
    padding: 0.7em 1em;
    font-size: 1rem;
    min-width: 150px;
  }

  &[disabled],
  &.is-disabled,
  &[aria-disabled='true'] {
    pointer-events: none;
    opacity: 0.4;
  }
  @media (width >= #{map.get(variables.$breakpoints, md)}) {
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}
